<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
    <section id="plugin.video.katan">

        <category id="accounts" label="30000" help="30001">
            <group id="1" label="30002">
                <setting id="tmdb.apikey" type="string" label="30003">
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <level>3</level>
                    <control type="edit" format="string">
                        <heading>30003</heading>
                    </control>
                </setting>
                <setting id="ui.region" type="string" label="30004">
                    <level>0</level>
                    <default>IL</default>
                    <control type="edit" format="string">
                        <heading>30101</heading>
                    </control>
                </setting>
                <setting id="mdblist.apikey" type="string" label="30005">
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <level>3</level>
                    <control type="edit" format="string">
                        <heading>30005</heading>
                    </control>
                </setting>
            </group>

            <group id="2" label="30006">
                <setting id="action.connect.trakt" type="action" label="30141">
                    <level>0</level>
                    <data>RunPlugin(plugin://plugin.video.katan/?action=connect&amp;service=trakt)</data>
                    <control type="button" format="action">
                        <close>true</close>
                    </control>
                </setting>
                <setting id="trakt.client_id" type="string" label="30007">
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <level>3</level>
                    <control type="edit" format="string">
                        <heading>30007</heading>
                    </control>
                </setting>
                <setting id="trakt.client_secret" type="string" label="30008">
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <level>3</level>
                    <control type="edit" format="string">
                        <heading>30008</heading>
                    </control>
                </setting>
                <setting id="trakt.user" type="string" label="30009">
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <level>0</level>
                    <control type="edit" format="string">
                        <heading>30009</heading>
                    </control>
                    <enable>false</enable>
                </setting>
            </group>

            <group id="3" label="30010">
                <setting id="action.connect.realdebrid" type="action" label="30310">
                    <level>0</level>
                    <data>RunPlugin(plugin://plugin.video.katan/?action=connect&amp;service=realdebrid)</data>
                    <control type="button" format="action">
                        <close>true</close>
                    </control>
                </setting>
                <setting id="action.connect.premiumize" type="action" label="30311">
                    <level>0</level>
                    <data>RunPlugin(plugin://plugin.video.katan/?action=connect&amp;service=premiumize)</data>
                    <control type="button" format="action">
                        <close>true</close>
                    </control>
                </setting>
                <setting id="action.connect.torbox" type="action" label="30312">
                    <level>0</level>
                    <data>RunPlugin(plugin://plugin.video.katan/?action=connect&amp;service=torbox)</data>
                    <control type="button" format="action">
                        <close>true</close>
                    </control>
                </setting>
                <setting id="action.connect.alldebrid" type="action" label="30313">
                    <level>0</level>
                    <data>RunPlugin(plugin://plugin.video.katan/?action=connect&amp;service=alldebrid)</data>
                    <control type="button" format="action">
                        <close>true</close>
                    </control>
                </setting>
                <setting id="realdebrid.token" type="string" label="30011">
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <level>3</level>
                    <control type="edit" format="string">
                        <heading>30011</heading>
                    </control>
                </setting>
                <setting id="premiumize.apikey" type="string" label="30012">
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <level>3</level>
                    <control type="edit" format="string">
                        <heading>30012</heading>
                    </control>
                </setting>
                <setting id="torbox.apikey" type="string" label="30013">
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <level>3</level>
                    <control type="edit" format="string">
                        <heading>30013</heading>
                    </control>
                </setting>
                <setting id="alldebrid.apikey" type="string" label="30014">
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <level>3</level>
                    <control type="edit" format="string">
                        <heading>30014</heading>
                    </control>
                </setting>
            </group>
            <!-- Written by the sign-in flows and the profile
                 tool. Declared because Kodi silently ignores a
                 setSetting for an id settings.xml never named,
                 so an OAuth token had nowhere to live. -->
            <group id="99" label="30133">
                <setting id="trakt.access_token" type="string" label="30123">
                    <level>3</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <visible>false</visible>
                    <control type="edit" format="string">
                        <heading>30123</heading>
                    </control>
                </setting>
                <setting id="trakt.refresh_token" type="string" label="30124">
                    <level>3</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <visible>false</visible>
                    <control type="edit" format="string">
                        <heading>30124</heading>
                    </control>
                </setting>
                <setting id="trakt.expires" type="string" label="30125">
                    <level>3</level>
                    <default>0</default>
                    <visible>false</visible>
                    <control type="edit" format="string">
                        <heading>30125</heading>
                    </control>
                </setting>
                <setting id="realdebrid.client_id" type="string" label="30126">
                    <level>3</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <visible>false</visible>
                    <control type="edit" format="string">
                        <heading>30126</heading>
                    </control>
                </setting>
                <setting id="realdebrid.client_secret" type="string" label="30127">
                    <level>3</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <visible>false</visible>
                    <control type="edit" format="string">
                        <heading>30127</heading>
                    </control>
                </setting>
                <setting id="realdebrid.refresh" type="string" label="30128">
                    <level>3</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <visible>false</visible>
                    <control type="edit" format="string">
                        <heading>30128</heading>
                    </control>
                </setting>
                <setting id="realdebrid.expires" type="string" label="30129">
                    <level>3</level>
                    <default>0</default>
                    <visible>false</visible>
                    <control type="edit" format="string">
                        <heading>30129</heading>
                    </control>
                </setting>
                <setting id="premiumize.client_id" type="string" label="30130">
                    <level>3</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <visible>false</visible>
                    <control type="edit" format="string">
                        <heading>30130</heading>
                    </control>
                </setting>
                <setting id="premiumize.token" type="string" label="30131">
                    <level>3</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <visible>false</visible>
                    <control type="edit" format="string">
                        <heading>30131</heading>
                    </control>
                </setting>
                <setting id="device.profile" type="string" label="30132">
                    <level>3</level>
                    <default>low_memory</default>
                    <visible>false</visible>
                    <control type="edit" format="string">
                        <heading>30132</heading>
                    </control>
                </setting>
            </group>

        </category>

        <category id="sources" label="30015" help="30016">
            <group id="1" label="30017">
                <setting id="sources.provider.torrentio" type="boolean" label="30018">
                    <level>2</level><default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="sources.provider.torrentsdb" type="boolean" label="30148">
                    <level>2</level><default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="sources.provider.comet" type="boolean" label="30019" help="30143">
                    <level>2</level><default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="sources.provider.mediafusion" type="boolean" label="30020" help="30143">
                    <level>2</level><default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="sources.provider.zilean" type="boolean" label="30021" help="30144">
                    <level>2</level><default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="sources.provider.nyaa" type="boolean" label="30022">
                    <level>2</level><default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="sources.provider.animetosho" type="boolean" label="30023">
                    <level>2</level><default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="sources.provider.external" type="boolean" label="30024">
                    <level>2</level><default>false</default>
                    <control type="toggle"/>
                </setting>
            </group>

            <group id="2" label="30025">
                <setting id="sources.cached_only" type="boolean" label="30026">
                    <level>0</level><default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="sources.max_resolution" type="string" label="30027">
                    <level>0</level><default>1080p</default>
                    <constraints>
                        <options>
                            <option>480p</option>
                            <option>720p</option>
                            <option>1080p</option>
                            <option>2160p</option>
                        </options>
                    </constraints>
                    <control type="list" format="string">
                        <heading>30027</heading>
                    </control>
                </setting>
                <setting id="sources.min_resolution" type="string" label="30028">
                    <level>2</level><default>720p</default>
                    <constraints>
                        <options>
                            <option>sd</option>
                            <option>480p</option>
                            <option>720p</option>
                            <option>1080p</option>
                        </options>
                    </constraints>
                    <control type="list" format="string">
                        <heading>30028</heading>
                    </control>
                </setting>
                <setting id="sources.max_size_gb" type="integer" label="30029">
                    <level>0</level><default>8</default>
                    <constraints><minimum>1</minimum><step>1</step><maximum>80</maximum></constraints>
                    <control type="slider" format="integer"/>
                </setting>
                <setting id="sources.allow_hevc" type="boolean" label="30030">
                    <level>2</level><default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="sources.allow_av1" type="boolean" label="30031">
                    <level>2</level><default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="sources.allow_hdr" type="boolean" label="30032">
                    <level>2</level><default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="sources.allow_dv" type="boolean" label="30150">
                    <level>2</level><default>false</default>
                    <control type="toggle"/>
                    <dependencies>
                        <dependency type="visible" setting="sources.allow_hdr" operator="is">true</dependency>
                    </dependencies>
                </setting>
                <setting id="sources.prefer_hebrew" type="boolean" label="30033">
                    <level>0</level><default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="sources.allow_cam" type="boolean" label="30034">
                    <level>1</level><default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="sources.size_preference" type="string" label="30035">
                    <level>2</level><default>smallest</default>
                    <constraints>
                        <options>
                            <option>smallest</option>
                            <option>balanced</option>
                            <option>biggest</option>
                        </options>
                    </constraints>
                    <control type="list" format="string">
                        <heading>30035</heading>
                    </control>
                </setting>
                <setting id="sources.torrentio.url" type="string" label="30116">
                    <level>2</level>
                    <default>https://torrentio.strem.fun</default>
                    <control type="edit" format="string">
                        <heading>30116</heading>
                    </control>
                </setting>
                <setting id="sources.torrentio.options" type="string" label="30117">
                    <level>2</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>30117</heading>
                    </control>
                </setting>
                <setting id="sources.torrentsdb.url" type="string" label="30149">
                    <default>https://torrentsdb.com</default>
                    <level>2</level>
                    <control type="edit" format="string">
                        <heading>30149</heading>
                    </control>
                </setting>
                <setting id="sources.comet.url" type="string" label="30118">
                    <level>2</level>
                    <default>https://comet.elfhosted.com</default>
                    <control type="edit" format="string">
                        <heading>30118</heading>
                    </control>
                </setting>
                <setting id="sources.comet.config" type="string" label="30119">
                    <level>2</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>30119</heading>
                    </control>
                </setting>
                <setting id="sources.mediafusion.url" type="string" label="30120">
                    <level>2</level>
                    <default>https://mediafusion.elfhosted.com</default>
                    <control type="edit" format="string">
                        <heading>30120</heading>
                    </control>
                </setting>
                <setting id="sources.mediafusion.config" type="string" label="30121">
                    <level>2</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>30121</heading>
                    </control>
                </setting>
                <setting id="sources.zilean.url" type="string" label="30122">
                    <level>2</level>
                    <default>https://zilean.elfhosted.com</default>
                    <control type="edit" format="string">
                        <heading>30122</heading>
                    </control>
                </setting>
            </group>
        </category>

        <category id="performance" label="30036" help="30037">
            <group id="1" label="30038">
                <setting id="sources.results" type="integer" label="30039">
                    <level>2</level><default>6</default>
                    <constraints><minimum>3</minimum><step>1</step><maximum>40</maximum></constraints>
                    <control type="slider" format="integer"/>
                </setting>
                <setting id="sources.timeout" type="integer" label="30040">
                    <level>2</level><default>10</default>
                    <constraints><minimum>5</minimum><step>1</step><maximum>40</maximum></constraints>
                    <control type="slider" format="integer"/>
                </setting>
                <setting id="sources.workers" type="integer" label="30041">
                    <level>2</level><default>2</default>
                    <constraints><minimum>1</minimum><step>1</step><maximum>8</maximum></constraints>
                    <control type="slider" format="integer"/>
                </setting>
                <setting id="sources.autoplay" type="boolean" label="30042">
                    <level>0</level><default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="sources.prefetch_next" type="boolean" label="30043">
                    <level>2</level><default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="sources.source_memory" type="boolean" label="30044">
                    <level>2</level><default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="sources.seadex" type="boolean" label="30045" help="30046">
                    <level>2</level><default>true</default>
                    <control type="toggle"/>
                </setting>
            </group>

            <group id="2" label="30047">
                <setting id="cache.max_mb" type="integer" label="30048">
                    <level>2</level><default>25</default>
                    <constraints><minimum>10</minimum><step>10</step><maximum>500</maximum></constraints>
                    <control type="slider" format="integer"/>
                </setting>
                <setting id="subs.cache_files" type="integer" label="30049">
                    <level>2</level><default>30</default>
                    <constraints><minimum>10</minimum><step>10</step><maximum>500</maximum></constraints>
                    <control type="slider" format="integer"/>
                </setting>
                <setting id="service.warm" type="boolean" label="30050">
                    <level>2</level><default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="log.debug" type="boolean" label="30051">
                    <level>2</level><default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="ui.poster_size" type="string" label="30110">
                    <level>2</level>
                    <default>w185</default>
                    <constraints>
                        <options>
                            <option>w185</option>
                            <option>w342</option>
                            <option>w500</option>
                        </options>
                    </constraints>
                    <control type="list" format="string">
                        <heading>30110</heading>
                    </control>
                </setting>
                <setting id="ui.row_items" type="integer" label="30111">
                    <level>2</level>
                    <default>12</default>
                    <control type="edit" format="integer">
                        <heading>30111</heading>
                    </control>
                </setting>
                <setting id="cache.meta_hours" type="integer" label="30112">
                    <level>2</level>
                    <default>6</default>
                    <control type="edit" format="integer">
                        <heading>30112</heading>
                    </control>
                </setting>
            </group>
        </category>

        <category id="subtitles" label="30052" help="30053">
            <group id="1" label="30054">
                <setting id="subs.auto" type="boolean" label="30055">
                    <level>0</level><default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="subs.languages" type="string" label="30056">
                    <level>0</level><default>he,en</default>
                    <control type="edit" format="string">
                        <heading>30102</heading>
                    </control>
                </setting>
                <setting id="subs.embedded_first" type="boolean" label="30057">
                    <level>0</level><default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="subs.hash_match" type="boolean" label="30058">
                    <level>2</level><default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="subs.threshold" type="integer" label="30059">
                    <level>2</level><default>70</default>
                    <constraints><minimum>40</minimum><step>5</step><maximum>100</maximum></constraints>
                    <control type="slider" format="integer"/>
                </setting>
            </group>

            <group id="2" label="30017">
                <setting id="subs.provider.wizdom" type="boolean" label="30060">
                    <level>2</level><default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="subs.consensus" type="boolean" label="30320">
                    <level>2</level><default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="subs.provider.bsplayer" type="boolean"
                         label="30319">
                    <level>2</level><default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="subs.provider.opensubtitles_rest" type="boolean"
                         label="30318">
                    <level>2</level><default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="subs.provider.opensubtitles" type="boolean" label="30061">
                    <level>2</level><default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="subs.provider.subsource" type="boolean" label="30062">
                    <level>2</level><default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="subs.provider.ktuvit" type="boolean" label="30063" help="30064">
                    <level>2</level><default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="subs.ktuvit.user" type="string" label="30065">
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <level>3</level>                    <control type="edit" format="string">
                        <heading>30065</heading>
                    </control>
                    <dependencies>
                        <dependency type="visible" setting="subs.provider.ktuvit" operator="is">true</dependency>
                    </dependencies>
                </setting>
                <setting id="subs.ktuvit.password" type="string" label="30066">
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <level>3</level>                    <control type="edit" format="string">
                        <heading>30066</heading>
                    </control>
                    <dependencies>
                        <dependency type="visible" setting="subs.provider.ktuvit" operator="is">true</dependency>
                    </dependencies>
                </setting>
                <setting id="action.connect.opensubtitles" type="action" label="30147">
                    <level>0</level>
                    <data>RunPlugin(plugin://plugin.video.katan/?action=connect&amp;service=opensubtitles)</data>
                    <control type="button" format="action">
                        <close>true</close>
                    </control>
                </setting>
                <setting id="subs.opensubtitles.apikey" type="string" label="30067">
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <level>3</level>                    <control type="edit" format="string">
                        <heading>30067</heading>
                    </control>
                </setting>
                <setting id="subs.opensubtitles.user" type="string" label="30114">
                    <level>2</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>30114</heading>
                    </control>
                </setting>
                <setting id="subs.opensubtitles.password" type="string" label="30115">
                    <level>2</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>30115</heading>
                    </control>
                </setting>
            </group>
        </category>

        <category id="ai" label="30068" help="30069">
            <group id="1" label="30070">
                <setting id="subs.ai.enabled" type="boolean" label="30071">
                    <level>0</level><default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="subs.ai.engine" type="string" label="30070">
                    <level>2</level><default>gemini</default>
                    <constraints>
                        <options>
                            <option>gemini</option>
                            <option>openai</option>
                        </options>
                    </constraints>
                    <control type="list" format="string">
                        <heading>30070</heading>
                    </control>
                </setting>
                <setting id="subs.ai.gemini_key" type="string" label="30072">
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <level>3</level>                    <control type="edit" format="string">
                        <heading>30103</heading>
                    </control>
                    <dependencies>
                        <dependency type="visible" setting="subs.ai.engine" operator="is">gemini</dependency>
                    </dependencies>
                </setting>
                <setting id="subs.ai.gemini_model" type="string" label="30073">
                    <level>2</level><default>gemini-2.5-flash</default>
                    <control type="edit" format="string">
                        <heading>30073</heading>
                    </control>
                    <dependencies>
                        <dependency type="visible" setting="subs.ai.engine" operator="is">gemini</dependency>
                    </dependencies>
                </setting>
                <setting id="subs.ai.openai_url" type="string" label="30074">
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <level>2</level>                    <control type="edit" format="string">
                        <heading>30104</heading>
                    </control>
                    <dependencies>
                        <dependency type="visible" setting="subs.ai.engine" operator="is">openai</dependency>
                    </dependencies>
                </setting>
                <setting id="subs.ai.openai_key" type="string" label="30075">
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <level>3</level>                    <control type="edit" format="string">
                        <heading>30105</heading>
                    </control>
                    <dependencies>
                        <dependency type="visible" setting="subs.ai.engine" operator="is">openai</dependency>
                    </dependencies>
                </setting>
                <setting id="subs.ai.openai_model" type="string" label="30076">
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <level>2</level>                    <control type="edit" format="string">
                        <heading>30106</heading>
                    </control>
                    <dependencies>
                        <dependency type="visible" setting="subs.ai.engine" operator="is">openai</dependency>
                    </dependencies>
                </setting>
                <setting id="subs.ai.chunk" type="integer" label="30077">
                    <level>2</level><default>50</default>
                    <constraints><minimum>20</minimum><step>10</step><maximum>200</maximum></constraints>
                    <control type="slider" format="integer"/>
                </setting>
            </group>
        </category>

        <category id="israel" label="30078" help="30079">
            <group id="1" label="30080">
                <setting id="vod.show_radio" type="boolean" label="30081">
                    <level>0</level><default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="vod.channels_url" type="string" label="30082">
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <level>2</level>                    <control type="edit" format="string">
                        <heading>30107</heading>
                    </control>
                </setting>
            </group>
            <group id="2" label="30083">
                <setting id="vod.series_url" type="string" label="30084">
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <level>2</level>                    <control type="edit" format="string">
                        <heading>30108</heading>
                    </control>
                </setting>
                <setting id="vod.show_broken_channels" type="boolean" label="30113">
                    <level>2</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
            </group>
        </category>

        <category id="kids" label="30085" help="30086">
            <group id="1" label="30085">
                <setting id="kids.enabled" type="boolean" label="30085" help="30087">
                    <level>0</level><default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="kids.age" type="string" label="30088">
                    <level>0</level><default>older</default>
                    <constraints>
                        <options>
                            <option>young</option>
                            <option>older</option>
                            <option>teen</option>
                        </options>
                    </constraints>
                    <control type="list" format="string">
                        <heading>30088</heading>
                    </control>
                </setting>
                <setting id="kids.pin_hash" type="string" label="30089" help="30090">
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <level>3</level>                    <control type="edit" format="string">
                        <heading>30089</heading>
                    </control>
                </setting>
            </group>
        </category>

        <category id="tools" label="30145" help="30146">
            <group id="1" label="30145">
                <setting id="action.setup" type="action" label="32260">
                    <level>0</level>
                    <data>RunPlugin(plugin://plugin.video.katan/?action=setup)</data>
                    <control type="button" format="action">
                        <close>true</close>
                    </control>
                </setting>
                <setting id="action.accounts" type="action" label="32396">
                    <level>0</level>
                    <data>RunPlugin(plugin://plugin.video.katan/?action=accounts)</data>
                    <control type="button" format="action">
                        <close>true</close>
                    </control>
                </setting>
                <setting id="action.kids" type="action" label="32226">
                    <level>0</level>
                    <data>RunPlugin(plugin://plugin.video.katan/?action=kids_toggle)</data>
                    <control type="button" format="action">
                        <close>true</close>
                    </control>
                </setting>
                <setting id="action.profile" type="action" label="32384">
                    <level>1</level>
                    <data>RunPlugin(plugin://plugin.video.katan/?action=profile)</data>
                    <control type="button" format="action">
                        <close>true</close>
                    </control>
                </setting>
                <setting id="action.rebuild" type="action" label="32264">
                    <level>1</level>
                    <data>RunPlugin(plugin://plugin.video.katan/?action=rebuild_rows)</data>
                    <control type="button" format="action">
                        <close>true</close>
                    </control>
                </setting>
                <setting id="action.clearcache" type="action" label="32262">
                    <level>1</level>
                    <data>RunPlugin(plugin://plugin.video.katan/?action=clear_cache)</data>
                    <control type="button" format="action">
                        <close>true</close>
                    </control>
                </setting>
                <setting id="action.cacheinfo" type="action" label="32263">
                    <level>1</level>
                    <data>RunPlugin(plugin://plugin.video.katan/?action=cache_info)</data>
                    <control type="button" format="action">
                        <close>true</close>
                    </control>
                </setting>
                <setting id="action.diagnostics" type="action" label="32370">
                    <level>1</level>
                    <data>RunPlugin(plugin://plugin.video.katan/?action=diagnostics)</data>
                    <control type="button" format="action">
                        <close>true</close>
                    </control>
                </setting>
            </group>
        </category>

        <category id="interface" label="30091" help="30092">
            <group id="1" label="30093">
                <setting id="ui.window_home" type="boolean" label="30094">
                    <level>2</level><default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="ui.start_on_boot" type="boolean" label="30136"
                         help="30137">
                    <level>0</level><default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="update.check_on_start" type="boolean" label="30300"
                         help="30301">
                    <level>0</level><default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="update.channel" type="string" label="30316"
                         help="30317">
                    <level>2</level><default>stable</default>
                    <constraints>
                        <options>
                            <option>stable</option>
                            <option>test</option>
                        </options>
                    </constraints>
                    <control type="list" format="string">
                        <heading>30316</heading>
                    </control>
                </setting>
                <setting id="update.url" type="string" label="30302" help="30303">
                    <level>2</level><default/>
                    <constraints><allowempty>true</allowempty></constraints>
                    <control type="edit" format="string"><heading>30302</heading></control>
                </setting>
                <setting id="ui.stay_in_katan" type="boolean" label="30138"
                         help="30139">
                    <level>0</level><default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="ui.rich_visuals" type="boolean" label="30134"
                         help="30135">
                    <level>0</level><default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="ui.window_search" type="boolean" label="30095">
                    <level>2</level><default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="ui.language" type="string" label="30096">
                    <level>0</level><default>auto</default>
                    <constraints>
                        <options>
                            <option>auto</option>
                            <option>he</option>
                            <option>en</option>
                        </options>
                    </constraints>
                    <control type="list" format="string">
                        <heading>30096</heading>
                    </control>
                </setting>
                <setting id="ui.hide_watched" type="boolean" label="30097">
                    <level>0</level><default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="ui.show_unaired" type="boolean" label="30098">
                    <level>1</level><default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="ui.upnext" type="boolean" label="30099">
                    <level>0</level><default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="ui.skip_segments" type="boolean" label="30151">
                    <level>0</level><default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="ui.auto_skip" type="boolean" label="30152">
                    <level>0</level><default>false</default>
                    <control type="toggle"/>
                    <dependencies>
                        <dependency type="visible" setting="ui.skip_segments" operator="is">true</dependency>
                    </dependencies>
                </setting>
                <setting id="ui.rows" type="string" label="30100">
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <level>2</level>                    <control type="edit" format="string">
                        <heading>30109</heading>
                    </control>
                </setting>
            </group>
        </category>

    </section>
</settings>
